.nav {
  background-color: rgb(248, 243, 243);
  border: 0px;
  border-top: 3px;
  border-style: solid;
  border-color: rgb(153, 152, 152);
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 6px;
}

.nav .logo {
  margin: 0%;
}

.nav .rightMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .rightMenu button {
  padding: 10px;
  min-width: 90px;
  background-color: white;
  border-radius: 3px;
  border-color: gray;
  cursor: pointer;
  font-size: medium;
}
